<section class="sections">
    <div class="container-createpost container-createcategory">
        <div class="form-input">
            <form action="" method="POST" class="form" id="form-1" >
                <p class="error">{{err}}</p>
                <div class="box-category">

                    <label for="category">Category: </label>
                    <input type="text" name="category" id="category" required>
                    
                </div>
 
                <button class="form-submit save-btn">Create</button>
            </form>
        </div>
    </div>
</section>
