<div class="container-register">
  <div class="register-form">
    <div class="content-top">   
        <h2>change Password?</h2>
    </div>
    <form action="/account/profile/changepass/{{lcuser._id}}" method="POST" class="form" id="form-1">

      <div class="form-group">
        <label for="oldpassword" class="form-label">enter current password </label>
        <input id="oldpassword" name="oldpassword" type="password" class="form-control">
        <span class="form-message">{{err}}</span>
      </div>
      <div class="form-group">
        <label for="newpassword" class="form-label">new password</label>
        <input id="newpassword" name="newpassword" type="password" class="form-control">
        <span class="form-message"></span>
      </div>
      <div class="form-group">
        <label for="newpasswordconfirm" class="form-label">new password confirm</label>
        <input id="newpasswordconfirm" name="passwordconfirm" type="password" class="form-control">
        <span class="form-message"></span>
      </div>

      <button class="form-submit">change</button>

    </form>
  </div>
</div>

<script>
 
document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequired('#oldpassword',),
        Validator.minLength('#oldpassword',6),
        Validator.isRequired('#newpassword',),
        Validator.minLength('#newpassword',6),
        Validator.isConfirmed('#newpasswordconfirm', function () {
          return document.querySelector('#form-1 #newpassword').value;
        }, 'password confirm incorrectly')
      ],
      //onSubmit: function (data) {
        // Call API
      //  console.log(data);
    //  }
    });
  });

</script>