<div class="container-register">
  <div class="register-form">
    <div class="content-top">
         <p class="noti">{{notification}}</p>
         <p class="error">{{err}}</p>
        <h2>Reset your password</h2>
    </div>
    <form action="" method="POST" class="form" id="form-1">

      <div class="form-group">
        <label for="newpassword" class="form-label">New Password</label>
        <input id="newpassword" name="newpassword" type="password" class="form-control">
        <span class="form-message">{{err}}</span>
      </div>
      

      <button  class="form-submit">Reset Password</button>
    </form>
  </div>
</div>

<script>
 
document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequired('#newpassword',),
        Validator.minLength('#newpassword', 6),
      ],
  
    });
  });

</script>