<section class="section">

  <div class="container-profile">

    <div class="container-info-left">
        <div class="info-left">
        <div class="avatar">
          <img src="/{{lcuser.avatar}}" alt="image">
        </div>

        <div class="username">
          <h3>{{lcuser.username}}</h3>
        </div>
    </div>
    </div>

    <div class="info-right">

      <form  action="/account/profile/edit/{{lcuser._id}}?_method=PUT" method="POST" class="form" id="form-1" enctype="multipart/form-data" >
        <div class="form-group">
          <label for="fullname" class="form-label">Họ Tên</label>
          <input id="fullname" value="{{lcuser.username}}" name="username" type="text" placeholder="Name"
            class="form-control">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="address" class="form-label">Địa Chỉ</label>
          <input id="address" value="" name="address" type="text" placeholder="Địa Chỉ"
            class="form-control">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="avatar" class="form-label">avatar</label>
          <input id="avatar" name="avatar" type="file" class="form-control">
          <span class="form-message"></span>
        </div>

        <button class="form-submit">save</button>
      </form>
    </div>
  </div>
</section>