<div class="container-register">
  <div class="register-form">
    <div class="content-top">
        <p class="error">{{err}}</p>
        <p class="notification">{{notification}}</p>
        <h2>Forgot Password?</h2>  
    </div>
    <form action="" method="POST" class="form" id="form-1">

      <div class="form-group">
        <label for="email" class="form-label">Email Address</label>
        <input id="email" name="email" type="text" class="form-control">
        <span class="form-message"></span>
      </div>

      <button onclick="error()" class="form-submit">Send reset code</button>
    </form>
  </div>
</div>

<script>
 
document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequired('#email',),
        Validator.isEmail('#email'),
      ]
    });
  });

</script>