<div class="container-footer" id="footer">
     <div class="container-map">
          <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.2063720118363!2d105.4448015248742!3d10.405177630393498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a728f1bf1d4f7%3A0x333d54ca7f18a907!2zS2h1IGzGsHUgbmnhu4dtIENo4bunIHThu4tjaCBUw7RuIMSQ4bupYyBUaOG6r25n!5e0!3m2!1svi!2s!4v1645584193544!5m2!1svi!2s"
               width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
     <div class="container-content">

          <div class="title">

               <h3 >OUR CONTACTS</h3>

               <h2>THÔNG TIN LIÊN HỆ</h2>

          </div>
          <div class="info">

               <span>Email:</span>
               <h2>khuluuniem@gmail.com</h2>
               <span>DT:</span>
               <h2>0296 3851310</h2>
               <span>Địa chỉ</span>
               <h2>ấp Mỹ An 2, xã Mỹ Hoà Hưng, Tp Long Xuyên , tỉnh An Giang.</h2>

          </div>
          <div class="social-icon">
               <a target="_blank" href="https://www.facebook.com/Di-t%C3%ADch-Qu%E1%BB%91c-gia-%C4%91%E1%BA%B7c-bi%E1%BB%87t-Khu-L%C6%B0u-ni%E1%BB%87m-Ch%E1%BB%A7-t%E1%BB%8Bch-T%C3%B4n-%C4%90%E1%BB%A9c-Th%E1%BA%AFng-445093982985843" class="facebook icon block">
                    <i class="fa-brands fa-facebook-square"></i>
               </a>
               <a target="_blank" href="https://www.youtube.com/channel/UChXWKhrjVhfE5l84Od6m8cQ" class="youtube icon block">
                    <i class="fa-brands fa-youtube"></i>
               </a>
               <a class="instagram icon block">
                    <i class="fa-brands fa-instagram"></i>
               </a>
          </div>
     </div>
</div>