<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/img/iconTitle/startnew.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <title>news website ... admin</title>

  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />

  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.0" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/add.css">


  <script src="../ckeditor/ckeditor.js"></script>

</head>

<body>
  <div class="header">
    
       <div class="bar-btn fa-solid fa-bars"></div>
    
    <div class="logo">
        <h2>huy khanh</h2>
    </div>
  </div>
  <div class="container-controller">
    <aside
      class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 impotant"
      id="sidenav-main">
      <div class="sidenav-header">
        <a class="navbar-brand m-0" href="/admin">
          <div class="user-info">
            <div class="image">
              <img src="/{{lcuser.avatar}}" alt="user image">
            </div>
            <span class="ms-1 font-weight-bold">{{lcuser.username}}</span>
          </div>
        </a>
      </div>
      <hr class="horizontal dark mt-0">
      <div class="list-items" id="">
        <ul class="none">
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/">
              <div class="item-icon">
                <i class="fa-solid fa-house"></i>
              </div>
              <span class="nav-link-text ms-1">Home</span>
            </a>
          </li>
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin">
              <div class="item-icon">
                <i class="fa-solid fa-chart-line"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>

          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin/users">
              <div class="item-icon">
                <i class="fa-solid fa-bars-progress"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin/posts">
              <div class="item-icon">
                <i class="fa-solid fa-bars-progress"></i>
              </div>
              <span class="nav-link-text ms-1">Posts</span>
            </a>
          </li>
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin/categorys">
              <div class="item-icon">
                <i class="fa-solid fa-bars-progress"></i>
              </div>
              <span class="nav-link-text ms-1">Categorys</span>
            </a>
          </li>
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin/createct">
              <div class="item-icon">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
              <span class="nav-link-text ms-1">Create Category</span>
            </a>
          </li>
          <li class="nav-item item-btn">
            <a class="nav-link item-link" href="/admin/create">
              <div class="item-icon">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
              <span class="nav-link-text ms-1">Create Post</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  <div class="container-body">
    {{{body}}}
  </div>


  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.0"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/admin.js"></script>

</body>

</html>